body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.topDiv {
    margin: 100px;
}

.calculatorBody {
    background-color: gray;
    width: 570px;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('Calculator.ttf');
}

.displayValue {
    background-color: green;
    width: 480px;
    height: 200px;
    color: white;
    font-size: 120px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;
    font-family: 'digital-clock-font';
}

.buttons {
    background-color: black;
    width: 470px;
    height: 540px;
    padding: 25px 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.button {
    background-color: whitesmoke;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.operator {
    background-color: orange;
}

.Del {
    background-color: red;
}